# Generated Java files
*.class

# Vim Files
*.swp
registrationScheduler/src/registrationScheduler/driver/*.swp
registrationScheduler/src/registrationScheduler/*/*.swp

# Folder containing files after build
registrationScheduler/BUILD/*
